<% content_for :page_title do %>
  <%= t 'form.edit' %>首页滑动图片
<% end %>

<% content_for :content_title do %>
  <%= t 'form.edit' %>首页滑动图片
  <small data-localize="dashboard.WELCOME">欢迎来到码农的世界！</small>
<% end %>

<div class="row">
  <div class="col-md-12">
    <!-- START panel-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title"><%= t('form.edit') %>首页滑动图片</div>
      </div>
      <div class="panel-body">

        <div style="font-size: 24px; color:red;">
          <p>首页滑动图片建议大小: 960*352</p>
        </div>
        <%= form_tag("/admin/banners", method: "post", multipart: true) do %>
          <fieldset>
            <div class="form-group">
              <%= label_tag :image_one, "网站banner-1", class: 'col-sm-2 control-label' %><br>
              <div class="col-sm-10" style="margin-bottom: 20px;">
              <%= image_tag(@data['banner_one']['image_url'], width: 120, height: 120) if @data['banner_one'] %>
              <%= file_field_tag :image_one %>
              </div>
              <%= label_tag :banner_one, "网站url-1", class: 'col-sm-2 control-label' %><br>
              <div class="col-sm-10">
              <%= text_field_tag :redirect_to_one, @data['banner_one']['redirect_to'], class: 'form-control' %>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <%= label_tag :image_two, "网站banner-2", class: 'col-sm-2 control-label' %><br>
              <div class="col-sm-10" style="margin-bottom: 20px;">
              <%= image_tag(@data['banner_two']['image_url'], width: 120, height: 120) if @data['banner_two'] %>
              <%= file_field_tag :image_two %>
              </div>
              <%= label_tag :banner_two, "网站url-2", class: 'col-sm-2 control-label' %><br>
              <div class="col-sm-10">
              <%= text_field_tag :redirect_to_two, @data['banner_two']['redirect_to'], class: 'form-control' %>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <%= label_tag :image_three, "网站banner-3", class: 'col-sm-2 control-label' %><br>
              <div class="col-sm-10" style="margin-bottom: 20px;">
              <%= image_tag(@data['banner_three']['image_url'], width: 120, height: 120) if @data['banner_three'] %>
              <%= file_field_tag :image_three %>
              </div>
              <%= label_tag :banner_three, "网站url-3", class: 'col-sm-2 control-label' %><br>
              <div class="col-sm-10">
              <%= text_field_tag :redirect_to_three, @data['banner_three']['redirect_to'], class: 'form-control' %>
              </div>
            </div>
          </fieldset>
          <div class="panel-footer text-center">
            <%= submit_tag t('form.submit'), class: 'btn btn-info submit-form' %>
          </div>
        <% end %>

      </div>
    </div>
    <!-- END panel-->
  </div>
</div>
