<% content_for :page_title do %>
  <%= @post.title %>
<% end %>

<% if [1, 2, 3, 4, 5, 6].include? @post.id %>
<div id="main">
  <hr>
  <div class="mainBlock">
    <% if @post.title == '加入我们' %>
    <img class="joinus-pic" style="width: 960px; height: 186px;" src="<<%= @data['joinus']['image_url'] %>">
    <% end %>
    <div class="menu">
      <% if @parent_menu != nil %>
      <h1 style="font-size: 16px; letter-spacing: 8px; line-height: 30px;">
        <a href="<%= @parent_menu.menu_url %>"><%= @parent_menu.name %></a>
      </h1>
      <h3 style="font-size: 10px; line-height: 20px; letter-spacing: 2px;"><%= @parent_menu.enname %></h3>
      <% end %>
      <% if @menu_children != [] %>
      <div class="nav">
        <hr>
        <ul>
          <% @menu_children.each do |mc| %>
          <li><a href="<%= mc.menu_url %>" data-no-turbolink><%= mc.name %></a></li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
    <div class="content">
      <div class="tab-content" style="overflow: inherit;">
        <div class="tab-pane active" id="company-introduction">
          <div class="contentBody">
            <%= raw @post.content %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>

<div id="main">
  <hr>
  <div class="mainBlock">
    <!-- 右侧菜单 -->
    <div class="menu">
      <h1 style="font-size: 16px; letter-spacing: 8px; line-height: 30px;">
        <a href="<%= @parent_menu.menu_url %>"><%= @parent_menu.name %></a>
      </h1>
      <h3 style="font-size: 10px; line-height: 20px; letter-spacing: 2px;"><%= @parent_menu.enname %></h3>
      <% if @menu_children != [] %>
      <div class="nav">
        <hr>
        <ul>
          <% @menu_children.each do |mc| %>
          <li><a href="<%= mc.menu_url %>" data-no-turbolink><%= mc.name %></a></li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
    <!-- 内容 -->
    <div class="content">
      <!-- 标题 -->
      <h1 class="content-title" style="font-size: 14px;"><%= @post.title %></h1>
      <!-- 面包屑 -->
      <div id="crumbs"><a href="/" data-no-turbolink>首页</a> > <a href="/categories/<%= @cat.id %>" data-no-turbolink><%= @cat.name %></a></div>
      <hr>
      <!-- 内容 -->
      <div class="contentBody">
        <%= raw @post.content %>
      </div>
    </div>
  </div>
</div>
<% end %>
