<% content_for :page_only_css do %>
  <%= stylesheet_link_tag 'sortable', media: 'all' %>
<% end %>

<% content_for :page_only_js do %>
<%= javascript_include_tag 'sortable' %>

<script src="/plugins/ueditor/ueditor.config.js"></script>
<script src="/plugins/ueditor/ueditor.all.min.js"></script>
<script src="/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
<script>
$(document).ready(function(){
  var ue = UE.getEditor('ue-container', {
    initialFrameWidth : '100%',
    initialFrameHeight: 600
  });
});
</script>
<% end %>

<%= form_for([:admin, @post], html: { multipart: true }, class: 'form-horizontal') do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless [1, 2, 3, 4, 5, 6].include? @post.id %>
  <fieldset>
    <div class="form-group">
      <%= f.label :title, class: 'col-sm-2 control-label' do %>
        <%= t('activerecord.attributes.post.title') %>
        <span class="symbol required">*</span>
      <% end %>
      <div class="col-sm-10">
      <%= f.text_field :title, required: 'required', class: 'form-control' %>
      </div>
    </div>
  </fieldset>
  <% end %>
  <fieldset>
    <div class="form-group">
      <%= f.label :content, class: 'col-sm-2 control-label' do %>
        <%= t('activerecord.attributes.post.content') %>
      <% end %>
      <div class="col-sm-10">
      <%= f.text_area :content, class: 'ue-container', id: 'ue-container' %>
      </div>
    </div>
  </fieldset>
  <% unless [1, 2, 3, 4, 5, 6].include? @post.id %>
  <fieldset>
    <div class="form-group">
      <%= f.label :category_id, class: 'col-sm-2 control-label' do %>
        <%= t('activerecord.attributes.post.category_id') %>
      <% end %>
      <div class="col-sm-10">
      <%= select_tag "post[category_id]", nested_options(@categories, selected: @post.category), class: :nested_options %>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group">
      <%= f.label :author, class: 'col-sm-2 control-label' do %>
        <%= t('activerecord.attributes.post.author') %>
      <% end %>
      <div class="col-sm-10">
      <%= f.text_field :author, class: 'form-control' %>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group">
      <%= f.label :img, class: 'col-sm-2 control-label' do %>
        <%= t('activerecord.attributes.post.img') %>
      <% end %>
      <div class="col-sm-10">
      <% if @post.img? %>
        <%= image_tag(@post.img_url, width: 72, height: 72) %>
        <p></p>
      <% else %>
        <p class="help-block">请上传特色图片, 用于薰衣草堂显示</p>
      <% end %>
      <%= f.file_field :img %>
      </div>
    </div>
  </fieldset>
  <fieldset style="display: none;">
    <div class="form-group">
      <%= f.label :publish_time, class: 'col-sm-2 control-label' do %>
        <%= t('activerecord.attributes.post.publish_time') %>
      <% end %>
      <div class="col-sm-10">
      <%= f.datetime_select :publish_time, class: 'form-control' %>
      </div>
    </div>
  </fieldset>
  <% end %>

  <div class="panel-footer text-center">
    <%= f.submit t('form.submit'), class: 'btn btn-info submit-form' %>
    <%= link_to t('form.back'), admin_posts_path, class: 'btn btn-info' %>
  </div>
<% end %>
