<%= form_for([:admin, @setting], class: 'form-horizontal') do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>
      <ul>
      <% @setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="form-group">
      <%= f.label :slug, class: 'col-sm-2 control-label' do %>
        <%= t('activerecord.attributes.setting.slug') %>
        <span class="symbol required">*</span>
      <% end %>
      <div class="col-sm-10">
      <%= f.text_field :slug, required: 'required', class: 'form-control' %>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group">
      <%= f.label :config_key, class: 'col-sm-2 control-label' do %>
        <%= t('activerecord.attributes.setting.config_key') %>
        <span class="symbol required">*</span>
      <% end %>
      <div class="col-sm-10">
      <%= f.text_field :config_key, required: 'required', class: 'form-control' %>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group">
      <%= f.label :config_value, class: 'col-sm-2 control-label' do %>
        <%= t('activerecord.attributes.setting.config_value') %>
        <span class="symbol required">*</span>
      <% end %>
      <div class="col-sm-10">
      <%= f.text_field :config_value, required: 'required', class: 'form-control' %>
      </div>
    </div>
  </fieldset>
  <div class="panel-footer text-center">
    <%= f.submit t('form.submit'), class: 'btn btn-info' %>
    <%= link_to t('form.back'), admin_settings_path, class: 'btn btn-info' %>
  </div>
<% end %>
