<% content_for :page_title do %>
  <%= t('form.show') %><%= t 'activerecord.models.menu' %>
<% end %>

<% content_for :content_title do %>
  <%= t('form.show') %><%= t 'activerecord.models.menu' %>
  <small data-localize="dashboard.WELCOME">欢迎来到码农的世界！</small>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <!-- START panel-->
    <div class="panel panel-default">
      <div class="panel-heading"><%= t('form.show') %><%= t 'activerecord.models.menu' %></div>
      <div class="panel-body">
        <table class="table table-bordered table-striped" style="clear: both" id="menu">
          <tbody>
            <tr>
              <td width="35%"><%= t('activerecord.attributes.menu.name') %></td>
              <td width="65%"><%= @menu.name %></td>
            </tr>
            <tr>
              <td width="35%"><%= t('activerecord.attributes.menu.enname') %></td>
              <td width="65%"><%= @menu.enname %></td>
            </tr>
            <tr>
              <td width="35%"><%= t('activerecord.attributes.menu.menu_type') %></td>
              <td width="65%"><%= @menu.menu_type %></td>
            </tr>
            <tr>
              <td width="35%"><%= t('activerecord.attributes.menu.view_template') %></td>
              <td width="65%"><%= @menu.view_template %></td>
            </tr>
            <tr>
              <td width="35%"><%= t('activerecord.attributes.menu.layout_template') %></td>
              <td width="65%"><%= @menu.layout_template %></td>
            </tr>
            <tr>
              <td width="35%"><%= t('activerecord.attributes.menu.menu_url') %></td>
              <td width="65%"><%= @menu.menu_url %></td>
            </tr>
            <tr>
              <td width="35%"><%= t('activerecord.attributes.menu.beautify_url') %></td>
              <td width="65%"><%= @menu.beautify_url %></td>
            </tr>
            <tr>
              <td width="35%"><%= t 'form.action' %></td>
              <td width="65%">
                <% if @menu.editable %>
                <%= link_to t('form.edit'), edit_admin_menu_path(@menu) %>
                |
                <% end %>
                <%= link_to t('form.back'), admin_menus_path %>
              </td>
            </tr>
          </tbody>
        </table>
     </div>
    </div>
    <!-- END panel-->
  </div>
</div>
