<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Base rails app">
  <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin, rails, bower">
  <title><%= yield :page_title %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= yield :page_only_css %>
  <%= javascript_include_tag 'application' %>
  <%= yield :page_only_js %>
  <%= csrf_meta_tags %>
  <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
</head>
<body class="layout-fixed aside-float">

<div class="wrapper">
  <!-- top navbar-->
  <header class="topnavbar-wrapper">
     <!-- START Top Navbar-->
     <nav class="navbar topnavbar" role="navigation">
        <!-- START navbar header-->
        <div class="navbar-header">
           <a class="navbar-brand" href="#/">
              <div class="brand-logo">
                 <img class="img-responsive" alt="App Logo" src="<%= asset_path 'logo.png' %>">
              </div>
              <div class="brand-logo-collapsed">
                 <img class="img-responsive" alt="App Logo" src="<%= asset_path 'logo-single.png' %>">
              </div>
           </a>
        </div>
        <!-- END navbar header-->
        <!-- START Nav wrapper-->
        <div class="nav-wrapper">
           <!-- START Left navbar-->
           <ul class="nav navbar-nav">
              <li>
                 <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                 <a class="hidden-xs" data-toggle-state="aside-collapsed" href="#">
                    <em class="fa fa-navicon"></em>
                 </a>
                 <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
                 <a class="visible-xs sidebar-toggle" data-no-persist="true" data-toggle-state="aside-toggled" href="#">
                    <em class="fa fa-navicon"></em>
                 </a>
              </li>
              <!-- START User avatar toggle-->
           </ul>
           <!-- END Left navbar-->
           <!-- START Right Navbar-->
           <ul class="nav navbar-nav navbar-right">
              <!-- Fullscreen (only desktops)-->
              <li class="visible-lg">
                 <a data-toggle-fullscreen="" href="#">
                    <em class="fa fa-expand"></em>
                 </a>
              </li>
              <!-- START Alert menu-->
              <% if current_user %>
              <li class="dropdown dropdown-list">
                 <a data-toggle="dropdown" href="#">
                    <em class="icon-user"></em>
                    <div class="label label-danger">11</div>
                 </a>
                 <ul class="dropdown-menu animated flipInX">
                    <li>
                       <div class="list-group">
                          <a class="list-group-item" href="/users/edit">
                             <div class="media-box">
                                <div class="pull-left">
                                   <em class="fa fa-envelope fa-2x text-warning"></em>
                                </div>
                                <div class="media-box-body clearfix">
                                   <p class="m0">修改密码</p>
                                </div>
                             </div>
                          </a>
                          <a class="list-group-item" href="/users/sign_out" data-method="delete" rel="nofollow">
                             <div class="media-box">
                                <div class="pull-left">
                                   <em class="fa fa-tasks fa-2x text-success"></em>
                                </div>
                                <div class="media-box-body clearfix">
                                   <p class="m0">退出登录</p>
                                </div>
                             </div>
                          </a>
                       </div>
                    </li>
                 </ul>
              </li>
              <% end %>
              <li>
                 <a data-no-persist="true" data-toggle-state="offsidebar-open" href="#">
                    <em class="icon-notebook"></em>
                 </a>
              </li>
           </ul>
           <!-- END Right Navbar-->
        </div>
        <!-- END Nav wrapper-->
        <!-- START Search form-->
        <form class="navbar-form" action="search.html" role="search">
           <div class="form-group has-feedback">
              <input type="text" class="form-control" placeholder="输入搜索条件后回车......">
              <div class="fa fa-times form-control-feedback" data-search-dismiss=""></div>
           </div>
           <button class="hidden btn btn-default" type="submit">提交</button>
        </form>
        <!-- END Search form-->
     </nav>
     <!-- END Top Navbar-->
  </header>
  <!-- sidebar-->
  <aside class="aside">
     <!-- START Sidebar (left)-->
     <div class="aside-inner">
        <nav class="sidebar" data-sidebar-anyclick-close="">
           <!-- START sidebar nav-->
           <ul class="nav">
              <!-- START user info-->
              <li class="has-user-block">
                 <div class="collapse" id="user-block">
                    <div class="item user-block">
                       <!-- User picture-->
                       <div class="user-block-picture">
                          <div class="user-block-status">
                             <img width="60" height="60" class="img-thumbnail img-circle" alt="Avatar" src="<%= asset_path 'user/02.jpg' %>">
                             <div class="circle circle-success circle-lg"></div>
                          </div>
                       </div>
                       <!-- Name and Job-->
                       <div class="user-block-info">
                          <span class="user-block-name">你好, Dennis</span>
                          <span class="user-block-role">Boy</span>
                       </div>
                    </div>
                 </div>
              </li>
              <!-- END user info-->
              <!-- Iterates over all sidebar items-->
              <li class="nav-heading ">
                 <span>主导航</span>
              </li>
              <li class="active">
                 <a data-toggle="collapse" title="Dashboard" href="#dashboard" class="" aria-expanded="true">
                    <em class="icon-speedometer"></em>
                    <span>控制台</span>
                 </a>
                 <ul class="nav sidebar-subnav collapse in" id="dashboard" aria-expanded="true" style="">
                    <li class="sidebar-subnav-header">控制台</li>
                    <li class=" active">
                       <a title="Dashboard v1" href="/admin/dashboard">
                          <em></em>
                          <span>控制台</span>
                       </a>
                    </li>
                 </ul>
              </li>
              <li class="nav-heading ">
                 <span>文章管理</span>
              </li>
              <li class=" ">
                 <a data-toggle="collapse" title="Forms" href="#categories">
                    <em class="icon-support"></em>
                    <span>分类管理</span>
                 </a>
                 <ul class="nav sidebar-subnav collapse" id="categories">
                    <li class="sidebar-subnav-header">分类管理</li>
                    <li class=" ">
                       <a title="Standard" href="/admin/categories/new">
                          <em></em>
                          <span>添加分类</span>
                       </a>
                    </li>
                    <li class=" ">
                       <a title="Extended" href="/admin/categories/manage_all" data-no-turbolink>
                          <em></em>
                          <span>管理分类</span>
                       </a>
                    </li>
                 </ul>
              </li>
              <li class=" ">
                 <a data-toggle="collapse" title="Forms" href="#posts">
                    <em class="icon-note"></em>
                    <span>文章管理</span>
                 </a>
                 <ul class="nav sidebar-subnav collapse" id="posts">
                    <li class="sidebar-subnav-header">文章管理</li>
                    <li class=" ">
                       <a title="Extended" href="/admin/posts" data-no-turbolink>
                          <em></em>
                          <span>管理文章</span>
                       </a>
                    </li>
                    <li class=" ">
                       <a title="Standard" href="/admin/posts/new" data-no-turbolink>
                          <em></em>
                          <span>添加文章</span>
                       </a>
                    </li>
                    <li class="">
                       <a title="Standard" href="/admin/posts/6/edit" data-no-turbolink>
                          <em></em>
                          <span>公司简介</span>
                       </a>
                    </li>
                    <li class="">
                       <a title="Standard" href="/admin/posts/5/edit" data-no-turbolink>
                          <em></em>
                          <span>发展规划</span>
                       </a>
                    </li>
                    <li class="">
                       <a title="Standard" href="/admin/posts/4/edit" data-no-turbolink>
                          <em></em>
                          <span>业务范围</span>
                       </a>
                    </li>
                    <li class="">
                       <a title="Standard" href="/admin/posts/3/edit" data-no-turbolink>
                          <em></em>
                          <span>企业文化</span>
                       </a>
                    </li>
                    <li class="">
                       <a title="Standard" href="/admin/posts/2/edit" data-no-turbolink>
                          <em></em>
                          <span>联系我们</span>
                       </a>
                    </li>
                    <li class="">
                       <a title="Standard" href="/admin/posts/1/edit" data-no-turbolink>
                          <em></em>
                          <span>加入我们</span>
                       </a>
                    </li>
                 </ul>
              </li>
              <li class="nav-heading ">
                 <span>系统设置</span>
              </li>
              <li class=" ">
                 <a data-toggle="collapse" title="Forms" href="#menus">
                    <em class="icon-grid"></em>
                    <span>菜单管理</span>
                 </a>
                 <ul class="nav sidebar-subnav collapse" id="menus">
                    <li class="sidebar-subnav-header">菜单管理</li>
                    <li class=" ">
                       <a title="Extended" href="/admin/menus/manage_all" data-no-turbolink>
                          <em></em>
                          <span>管理菜单</span>
                       </a>
                    </li>
                 </ul>
              </li>
              <li class=" ">
                 <a data-toggle="collapse" title="Forms" href="#settings">
                    <em class="icon-settings"></em>
                    <span>系统设置</span>
                 </a>
                 <ul class="nav sidebar-subnav collapse" id="settings">
                    <li class="sidebar-subnav-header">系统设置</li>
                    <li class=" ">
                       <a title="Extended" href="/admin/settings" data-no-turbolink>
                          <em></em>
                          <span>管理设置</span>
                       </a>
                    </li>
                    <li class="">
                       <a title="Extended" href="/admin/banners">
                          <em></em>
                          <span>首页滑动图片设置</span>
                       </a>
                    </li>
                    <li class="">
                       <a title="Extended" href="/admin/logo">
                          <em></em>
                          <span>logo设置</span>
                       </a>
                    </li>
                    <li class="">
                       <a title="Extended" href="/admin/joinus">
                          <em></em>
                          <span>加入我们图片设置</span>
                       </a>
                    </li>
                    <li class="">
                       <a title="Extended" href="/admin/lavender">
                          <em></em>
                          <span>薰衣草堂左侧图片设置</span>
                       </a>
                    </li>
                 </ul>
              </li>
              <li class="nav-heading ">
                 <span>友情链接</span>
              </li>
              <li class=" ">
                 <a data-toggle="collapse" title="Forms" href="#friendlinks">
                    <em class="icon-grid"></em>
                    <span>友情链接</span>
                 </a>
                 <ul class="nav sidebar-subnav collapse" id="friendlinks">
                    <li class="sidebar-subnav-header">友情链接</li>
                    <li class=" ">
                       <a title="Extended" href="/admin/friend_links" data-no-turbolink>
                          <em></em>
                          <span>友情链接</span>
                       </a>
                    </li>
                    <li class=" ">
                       <a title="Standard" href="/admin/friend_links/new" data-no-turbolink>
                          <em></em>
                          <span>添加友情链接</span>
                       </a>
                    </li>
                 </ul>
              </li>
           </ul>
           <!-- END sidebar nav-->
        </nav>
     </div>
     <!-- END Sidebar (left)-->
  </aside>
  <!-- offsidebar-->
  <aside class="offsidebar">
     <!-- START Off Sidebar (right)-->
     <nav>
        <div role="tabpanel">
           <!-- Nav tabs-->
           <ul class="nav nav-tabs nav-justified" role="tablist">
              <li class="active" role="presentation">
                 <a data-toggle="tab" role="tab" aria-controls="app-settings" href="#app-settings">
                    <em class="icon-equalizer fa-lg"></em>
                 </a>
              </li>
              <li role="presentation">
                 <a data-toggle="tab" role="tab" aria-controls="app-chat" href="#app-chat">
                    <em class="icon-users fa-lg"></em>
                 </a>
              </li>
           </ul>
           <!-- Tab panes-->
           <div class="tab-content">
              <div class="tab-pane fade in active" role="tabpanel" id="app-settings">
                 <h3 class="text-center text-thin">设置</h3>
                 <div class="p">
                    <h4 class="text-muted text-thin">主题</h4>
                    <div class="table-grid mb">
                       <div class="col mb">
                          <div class="setting-color">
                             <label data-load-css="/themes/theme-a.css">
                                <input type="radio" checked="checked" name="setting-theme">
                                <span class="icon-check"></span>
                                <span class="split">
                                   <span class="color bg-info"></span>
                                   <span class="color bg-info-light"></span>
                                </span>
                                <span class="color bg-white"></span>
                             </label>
                          </div>
                       </div>
                       <div class="col mb">
                          <div class="setting-color">
                             <label data-load-css="/themes/theme-b.css">
                                <input type="radio" name="setting-theme">
                                <span class="icon-check"></span>
                                <span class="split">
                                   <span class="color bg-green"></span>
                                   <span class="color bg-green-light"></span>
                                </span>
                                <span class="color bg-white"></span>
                             </label>
                          </div>
                       </div>
                       <div class="col mb">
                          <div class="setting-color">
                             <label data-load-css="/themes/theme-c.css">
                                <input type="radio" name="setting-theme">
                                <span class="icon-check"></span>
                                <span class="split">
                                   <span class="color bg-purple"></span>
                                   <span class="color bg-purple-light"></span>
                                </span>
                                <span class="color bg-white"></span>
                             </label>
                          </div>
                       </div>
                       <div class="col mb">
                          <div class="setting-color">
                             <label data-load-css="/themes/theme-d.css">
                                <input type="radio" name="setting-theme">
                                <span class="icon-check"></span>
                                <span class="split">
                                   <span class="color bg-danger"></span>
                                   <span class="color bg-danger-light"></span>
                                </span>
                                <span class="color bg-white"></span>
                             </label>
                          </div>
                       </div>
                    </div>
                    <div class="table-grid mb">
                       <div class="col mb">
                          <div class="setting-color">
                             <label data-load-css="/themes/theme-e.css">
                                <input type="radio" name="setting-theme">
                                <span class="icon-check"></span>
                                <span class="split">
                                   <span class="color bg-info-dark"></span>
                                   <span class="color bg-info"></span>
                                </span>
                                <span class="color bg-gray-dark"></span>
                             </label>
                          </div>
                       </div>
                       <div class="col mb">
                          <div class="setting-color">
                             <label data-load-css="/themes/theme-f.css">
                                <input type="radio" name="setting-theme">
                                <span class="icon-check"></span>
                                <span class="split">
                                   <span class="color bg-green-dark"></span>
                                   <span class="color bg-green"></span>
                                </span>
                                <span class="color bg-gray-dark"></span>
                             </label>
                          </div>
                       </div>
                       <div class="col mb">
                          <div class="setting-color">
                             <label data-load-css="/themes/theme-g.css">
                                <input type="radio" name="setting-theme">
                                <span class="icon-check"></span>
                                <span class="split">
                                   <span class="color bg-purple-dark"></span>
                                   <span class="color bg-purple"></span>
                                </span>
                                <span class="color bg-gray-dark"></span>
                             </label>
                          </div>
                       </div>
                       <div class="col mb">
                          <div class="setting-color">
                             <label data-load-css="/themes/theme-h.css">
                                <input type="radio" name="setting-theme">
                                <span class="icon-check"></span>
                                <span class="split">
                                   <span class="color bg-danger-dark"></span>
                                   <span class="color bg-danger"></span>
                                </span>
                                <span class="color bg-gray-dark"></span>
                             </label>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="p">
                    <h4 class="text-muted text-thin">布局</h4>
                    <div class="clearfix">
                       <p class="pull-left">Fixed</p>
                       <div class="pull-right">
                          <label class="switch">
                             <input type="checkbox" data-toggle-state="layout-fixed" id="chk-fixed">
                             <span></span>
                          </label>
                       </div>
                    </div>
                    <div class="clearfix">
                       <p class="pull-left">Boxed</p>
                       <div class="pull-right">
                          <label class="switch">
                             <input type="checkbox" data-toggle-state="layout-boxed" id="chk-boxed">
                             <span></span>
                          </label>
                       </div>
                    </div>
                    <div class="clearfix">
                       <p class="pull-left">RTL</p>
                       <div class="pull-right">
                          <label class="switch">
                             <input type="checkbox" id="chk-rtl">
                             <span></span>
                          </label>
                       </div>
                    </div>
                 </div>
                 <div class="p">
                    <h4 class="text-muted text-thin">侧边栏</h4>
                    <div class="clearfix">
                       <p class="pull-left">Collapsed</p>
                       <div class="pull-right">
                          <label class="switch">
                             <input type="checkbox" data-toggle-state="aside-collapsed" id="chk-collapsed">
                             <span></span>
                          </label>
                       </div>
                    </div>
                    <div class="clearfix">
                       <p class="pull-left">Float</p>
                       <div class="pull-right">
                          <label class="switch">
                             <input type="checkbox" data-toggle-state="aside-float" id="chk-float">
                             <span></span>
                          </label>
                       </div>
                    </div>
                    <div class="clearfix">
                       <p class="pull-left">Hover</p>
                       <div class="pull-right">
                          <label class="switch">
                             <input type="checkbox" data-toggle-state="aside-hover" id="chk-hover">
                             <span></span>
                          </label>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="tab-pane fade" role="tabpanel" id="app-chat">
                <h3 class="text-center text-thin">动态</h3>
              </div>
           </div>
        </div>
     </nav>
     <!-- END Off Sidebar (right)-->
  </aside>
  <!-- Main section-->
  <section>
     <!-- Page content-->
     <div class="content-wrapper">
        <div class="content-heading">
          <%= yield :content_title %>
        </div>
        <!-- START widgets box-->
        <!-- END widgets box-->
        <div class="row">
          <div class="col-sm-12">
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, class: "notice alert alert-info" %>
            <% end %>
          </div>
        </div>
        <%= yield %>
     </div>
  </section>
  <!-- Page footer-->
  <footer>
     <span>&copy; 2015 - Rails</span>
  </footer>
</div>
</body>
</html>
