<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Base rails app">
  <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin, rails, bower">
  <title><%= yield :page_title %></title>
  <%= stylesheet_link_tag 'devise', media: 'all' %>
  <%= yield :page_only_css %>
  <%= javascript_include_tag 'devise' %>
  <%= yield :page_only_js %>
  <%= csrf_meta_tags %>
  <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="wrapper">
    <div class="block-center mt-xl wd-xl">
       <!-- START panel-->
       <div class="panel panel-dark panel-flat">
          <div class="panel-heading text-center">
             <a href="#">
                <img src="<%= asset_path 'logo.png' %>" alt="Image" class="block-center img-rounded">
             </a>
          </div>
          <div class="panel-body">
            <%= yield %>
          </div>
       </div>
       <!-- END panel-->
       <div class="p-lg text-center">
          <span>&copy;</span>
          <span>2015</span>
          <span>-</span>
          <span>Rails</span>
          <br>
          <span>广州华茂生物科技有限公司</span>
       </div>
    </div>
  </div>
</body>
</html>
