<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Base rails app">
  <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, rails, bower">
  <title><%= yield :page_title %></title>
  <link rel="stylesheet" type="text/css" href="/frontend/assets/bootstrap/css/bootstrap.css">
  <%= stylesheet_link_tag 'site', media: 'all' %>
  <%= yield :page_only_css %>
  <%= javascript_include_tag 'site' %>
  <script type="text/javascript" src="/frontend/assets/bootstrap/js/bootstrap.js"></script>
  <%= yield :page_only_js %>
  <%= csrf_meta_tags %>
  <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
  <!--[if  lte IE 7]>
  <style type="text/css">
  #wrapper{
    display: none;
  }
  #ieBody{
    display: block;
  }
  </style>
  <![endif]-->
<script type="text/javascript">
$(document).on('ready', function(){
  var _str_current_path = $.url().attr('path');
  $("#headerNavMenu li a").each(function(){
    var _str_each_path = $(this).attr("href");
    if(_str_each_path === _str_current_path) {
      $(this).css({"color": "white", "background-color": "#8a8aef"});
    } else {
      // $('a', $("#headerNavMenu li")[0]).css({"color": "white", "background-color": "#0088cc"});
    }
  });
/*
  $(".mainBlock .menu .nav ul li a").each(function(){
    var _str_each_path = $(this).attr("href");
    if(_str_each_path == '/') {
      $(this).parent().css({"background": "none repeat scroll 0 0 #034f71"});
    }
  });
*/
});
</script>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div id="headerBar">
      <div id="logo">
        <img src="<%= @data['logo']['image_url'] %>" alt="logo" />
      </div>
      <div id="headerNavBar">
        <ul id="headerNavMenu">
          <% Menu.roots.each do |m| %>
            <li><a href="<%= m.menu_url %>" data-no-turbolink><%= m.name %></a></li>
          <% end %>
        </ul>
      </div>
<!--
      <div id = "search">
        <form id="searchform" action="/search" method="get">
          <input type="text" name="keyword" id="s" placeholder='请输入搜索内容'>
          <button id="searchsubmit">
            <img src="/frontend/assets/img/search.png">
          </button>
        </form>
      </div>
-->
    </div>
  </div>
  <div style="clear:both;"></div>
  <div class="mainContent">
    <%= yield %>
  </div>

  <div style="clear:both;"></div>
  <div id="footer">
    <div id="footerBar">
      <div id="friendLink">
        <span style="font-size: 16px;">友情链接：</span>
        <div class="friendLinkBlock">
          <% FriendLink.where(f_group_id: 1).limit(5).each do |fl| %>
            <a href="<%= fl.f_url %>"><%= fl.name %></a>
          <% end %>
        </div>
      </div>
      <div id="copyright">
        Copyright©广州华茂生物科技有限公司版权所有 &nbsp;&nbsp;
        技术支持：广州紫睿科技有限公司
      </div>
    </div>
  </div>
</div>
<div id="ieBody">
  <p>本网站只兼容IE8及以上浏览器和其他现代浏览器。</p>
</div>
</body>
</html>
