<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Base rails app">
  <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, rails, bower">
  <title><%= yield :page_title %></title>
  <%= stylesheet_link_tag 'site', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :page_only_css %>
  <%= javascript_include_tag 'site', 'data-turbolinks-track' => true %>
  <%= yield :page_only_js %>
  <%= csrf_meta_tags %>
  <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
<!--[if  lte IE 7]>
<style type="text/css">
#wrapper{
  display: none;
}
#ieBody{
  display: block;
}
</style>
<![endif]-->

<style type="text/css">
p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}
</style>
<script type="text/javascript">
jQuery(document).on('ready page:load', function(){
  var top_munu_urls = new Array();
  <% Menu.roots.order(menu_order: :asc).each do |m| %>
  top_munu_urls.push("<%= m.menu_url %>");
  <% end %>
  var _pattern1 = /\/page\/(\d+)/;
  var _pattern2 = /\/cat\/(\d+)\/post*/;
  var _str_current_path = $.url().attr('path'),
      _page_id,
      _cat_id,
      _str_get_url;

  var _str_path,
      _str_leaf_path;
  if(!exist_in_arr(top_munu_urls, _str_current_path)) {
    if(start_with(_str_current_path, _pattern1)) {
      _page_id = _str_current_path.match(_pattern1)[1];
      _str_get_url = "/api/v1/getLightMenu?pageid=" + _page_id;
    } else if(start_with(_str_current_path, _pattern2)) {
      _cat_id = _str_current_path.match(_pattern2)[1];
      _str_get_url = "/api/v1/getLightMenu?catid=" + _cat_id;
    }

    $.ajax({
        type: "get",
        url: _str_get_url,
        async: false,
        success: function(data, textStatus){
          _str_path = data.data;
          _str_leaf_path = data.leaf;
        }
    });
  } else {
    _str_path = _str_current_path;
    _str_leaf_path = "/page/1";
  }

  $("#headerNavMenu li a").each(function(){
    var _str_each_path = $(this).attr("href");
    if(_str_each_path == _str_path) {
      $(this).css({"color": "white", "background-color": "#0088cc"});
    }
  });

  $(".mainBlock .menu .nav ul li a").each(function(){
    var _str_each_path = $(this).attr("href");

    if(_str_each_path == _str_leaf_path) {
      $(this).parent().css({"background": "none repeat scroll 0 0 #034f71"});
    }
  });
});
function start_with(str, pattern) {
  if(pattern.test(str)) {
    return true;
  } else {
    return false;
  }
}

function exist_in_arr(arr, str) {
  var flag = false;
  for(var i = 0; i < arr.length; i++) {
    if(arr[i] === str) {
      flag = true;
      break;
    }
  }
  return flag;
}
</script>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div id="headerBar">
      <div id="logo">
        <img src="<%= @data['logo'] %>" alt="logo" />
      </div>
      <div id="headerNavBar">
        <ul id="headerNavMenu">
          <% Menu.roots.each do |m| %>
            <li><a href="<%= m.menu_url %>" data-no-turbolink><%= m.name %></a></li>
          <% end %>
        </ul>
      </div>
      <div id = "search">
        <form id="searchform" action="/search" method="get">
          <input type="text" name="keyword" id="s" placeholder='请输入搜索内容'>
          <button id="searchsubmit">
            <img src="/frontend/assets/img/search.png">
          </button>
        </form>
      </div>
    </div>
  </div>
  <div style="clear:both;"></div>
  <div class="mainContent">
    <%= yield %>
  </div>

  <div style="clear:both;"></div>
  <div id="footer">
    <div id="footerBar">
      <div id="friendLink">
        <span style="font-size: 16px;">友情链接：</span>
        <div class="friendLinkBlock">
          <% FriendLink.where(f_group_id: 1).limit(5).each do |fl| %>
            <a href="<%= fl.f_url %>"><img src="<%= fl.f_logo_url %>" alt='linklogo'/></a>
          <% end %>
        </div>
      </div>
      <div id="copyright">
        Copyright©广州高效文化传播有限公司版权所有 &nbsp;&nbsp;
        技术支持：维米灵动工作室
      </div>
    </div>
  </div>
</div>
<div id="ieBody">
  <p>本网站只兼容IE8及以上浏览器和其他现代浏览器。</p>
</div>
</body>
</html>
